/*A:link
{
	font-weight: bold;
	font-size: 9pt;
	color: mediumblue;
	font-family: Verdana;
	text-decoration: none;
}	

A:visited
{
	font-weight: bold;
	font-size: 9pt;
	color: mediumblue;
	font-family: Verdana;
	text-decoration: none;
}	
			
A:hover
{
	font-weight: bold;
	font-size: 9pt;
	color: dodgerblue;
	font-family: Verdana;
	text-decoration: underline;
}
*/

/*
.dataentryformlabel
{
    font-weight: bold;
    font-size: 9pt;
    color: darkgoldenrod;
    font-family: Verdana;
}

.dataentryformerrormsg
{
    font-weight: bold;
    font-size: 9pt;
    color: darkorange;
    font-family: Verdana;
}*/


p
{
    font-size: 9pt;
    color: blue;
    font-family: Verdana;
    
    
}
body
{
    font-size: 9pt;
    
    font-family: Verdana, Arial;
    margin: 0px;
    background-color :Gray;
  /*  background-image:url(../Admin/images/yello.jpg);*/
    
    
    
    
    
    
}

table
{
	background-color:White;
	width:47%;
}
h2
{
	font-family: Arial;
    background-color: #eee8aa;
   
    
	}
	
	.txtbox                         
{ 
        margin-right:150px;
        width:100px;
        
              
}    

.dataentryformtextbox
{
    border-right: peru 1px solid;
    border-top: peru 1px solid;
    border-left: peru 1px solid;
    border-bottom: peru 1px solid;
    
       
}
.smalltable
{
	width:80%;
	
	
}
      


.dataentryformbutton
{
    font-weight: bold;
    font-size: 9pt;
    color: ivory;
    font-family: Verdana;
    background-color: goldenrod;
    
}

.pagetop
{
    background-color: lightyellow;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: gold thin solid;
}

.pageleft
{
    
    padding-right: 5px;
    border-left: gold thin solid;
    border-top: gold thin solid;
    
    
}



.pagebottom
{
    background-color: lightyellow;
    border-top: gold thin solid;
    padding-top: 5px;
}


.pageright
{
 
    border-bottom: gold thin solid;
    
}
.page
{
	border-left: gold thin solid;
	border-right: gold thin solid;
	border-top: gold thin solid;
}

.datainlist
{
	border: 1px solid #000000;
	
}

#menu {
	
	background: #6B696B
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	
	
 }
#menu li {
	float: left;
	font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#menu a {
	background: #333 no-repeat right bottom;
	color: #ccc;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	width: 70px;
}
#menu a:hover {
	background: #2580a2  bottom center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}
.head
{
	border: #333;
}

.topmenu{
	
	background: #6B696B
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	
	
 }
 
 .topmenu li {
	float: right;
	font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.topmenu a {
	background: #333 no-repeat right bottom;
	color: #ccc;
	display: block;
	float: left;
	margin: 0;
	padding: 2px 7px;
	text-decoration: none;
	width: 70px;
}
.topmenu a:hover {
	background: #2580a2  bottom center no-repeat;
	color: #fff;
	padding-bottom: 2px;
}






/*
.dataentryformheading
{
    padding-right: 2px;
    padding-left: 2px;
    font-weight: bold;
    font-size: 11pt;
    padding-bottom: 2px;
    vertical-align: middle;
    color: sienna;
    padding-top: 2px;
    font-family: Verdana;
    background-color: khaki;
    text-align: center;
    width: 100%;
}

.biglabel
{
    padding-right: 2px;
    padding-left: 2px;
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 2px;
    vertical-align: middle;
    color: darkorange;
    padding-top: 2px;
    font-family: Verdana;
    text-align: center;
    width: 100%;
    font-style: italic;
}

.dataentryformlabelbig
{
    padding-right: 2px;
    padding-left: 2px;
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 2px;
    vertical-align: middle;
    color: sienna;
    padding-top: 2px;
    font-family: Verdana;
    text-align: center;
    width: 100%;
    font-style: normal;
    background-color: blanchedalmond;
}

.marketingtext
{
    padding-right: 2px;
    padding-left: 2px;
    font-size: 20px;
    padding-bottom: 2px;
    color: peru;
    padding-top: 2px;
    font-family: Arial;
}*/
